body {
    background: #d1fffa;
    font-family: "Montserrat", sans-serif;

}
.color-button {
    background: #005985;
}

h1 {
    color: #063650;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 5;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
   
    color: #063650;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
li::first-letter {
     text-transform: capitalize;
}
.weather-app-wrapper {
    max-width: 800px;
    margin: 30px auto;
}
.weather-app {
    padding: 20px;
    border: 1px solid #6DB2CB;
    border-radius: 10px;
    background: #b2ebf9;
}
.overview {
    margin-bottom: 20px;
}
.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong {
    color: #063650;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}