body {
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    font-family: "Montserrat", sans-serif;

}

h1 {
    color: #005985;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    color: #063650;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    padding: 20px;
    border: 1px solid #6DB2CB;
    border-radius: 10px;
    background: linear-gradient(109.6deg, rgb(116, 255, 217) 11.2%, rgb(88, 200, 223) 91.1%);
}
.overview {
    margin-bottom: 20px;
}
.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong {
    color: #063650;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}